@import '../../../assets/_variables';
@import '../../../assets/_helper';
@import '../../../assets/_reset';

.chip-notif-cp {
    width: 25px;
    height: 25px;
}

.chip-notif-cp-circle {
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    border-radius: 100%;
    background: #EAEAEA;
    width: 100%;
    height:100%;
}

.chip-notif-blue {
    background: #11A9EB;
    color: #E8F4FB;
}

.chip-notif-default {
    background: #EAEAEA;
    color: #35698C;
}