@import '../../../assets/_variables';
@import '../../../assets/_helper';
@import '../../../assets/_reset';

.title-ident {
    font-family: "brandon_grotesqueblack";
    font-size: 1.5em;
    color: #395B77;
}