<div class="mini-nav">
  <div class="mini-nav-items-wrap">
    <div>
      <a href="">
        <img src="./assets/navbar/cashier.png" alt="">
        <span>Cashier</span>
      </a>
    </div>
    <div>
      <a [routerLink]="['archives']">
        <img src="./assets/navbar/calendar.png" alt="">
        <span>Archives</span>
      </a>
    </div>
    <div>
      <a [routerLink]="['settings']">
        <img src="./assets/navbar/settings.png" alt="">
        <span>Settings</span>
      </a>
    </div>
    <div>
      <a [routerLink]="['waitingTickets']">
        <img src="./assets/navbar/clock.png" alt="">
        <span>En attente</span>
      </a>
    </div>
  </div>

  <div class="mini-seller">
    <a [routerLink]="['userPanel']">
      <img src="./assets/navbar/seller.png" alt="">
      <span>Seller</span>
    </a>
  </div>
</div>