@import '../../../assets/_variables';
@import '../../../assets/_helper';
@import '../../../assets/_reset';

.imp-txt-cp {
    font-family: "brandon_grotesqueblack";
    color: #35698C;
    font-size: .8em;
}