<h1>
     HELPER for Minimag project
</h1>
<p>
    This file contains all components implemented separately. To create a really complete helper
    you can try to add functions and methods in the helper in order to test functionalities of some components
</p>
<hr>
<div>
    <h2>
        mini-title
    </h2>
    <mini-title text="SEARCH" important=false>
    </mini-title>
</div>

<hr>
<div>
    <h2>
        mini-search-box
    </h2>
    <mini-search-box placeholder="EAN OR NAME" defaultValue="" onChange="">
    </mini-search-box>
</div>
<hr>
<div>
    <h2>mini-counter</h2>
    <mini-counter text="ARTICLES" number=0></mini-counter>
    <button type="" (click)="addToCounter()">Add article</button>
    <button type="" (click)="removeToCounter()">Remove article</button>
</div>
<hr>
<div>
    <h2>
        mini-button
    </h2>
    <mini-button text="Encaisser" dynamicValue="174€">
    </mini-button>
</div>
<hr>
<div>
    <h2>
        mini-title-identificator
    </h2>
    <mini-title-identificator text="CLIENT" dynamicValue="{{eywa}}">
    </mini-title-identificator>
    <input type="text" name="" [(ngModel)]="eywa" placeholder="Indicate dynamic "/>
</div>
<hr>
<div>
    <h2>
        mini-subtitle
    </h2>
    <mini-subtitle text="AUCUN RESULTAT"></mini-subtitle>
</div>
<hr>
<div>
    <h2>
        mini-chip
    </h2>
    <label for="">Default</label>
    <mini-chip count=4 ></mini-chip>
</div>
<hr>
<div>
    <h2>
        mini-chip-notification
    </h2>
    <label for="">Default</label>
    <mini-chip-notification count=4 classname="chip-notif-blue"></mini-chip-notification>
    <br>
    <label for="">Limit (if you put 100, limit is set to +99)</label>
    <mini-chip-notification count=100 className="chip-notif-blue"></mini-chip-notification>
</div>
<hr>
<div>
    <h2>
        mini-important-text
    </h2>
    <mini-important-text text="DEUX MILLES DEUX CENTS"></mini-important-text>
</div>
<hr>
<div>
    <h2>
        mini-dropdown
    </h2>
    <mini-dropdown [actions]="itemsForMiniDropDown" (actionEvent)="displayAction($event)"></mini-dropdown>
    <br>
    <span>Action is: {{actionFor_miniDropDown}}</span>
</div>
<hr>
<div>
    <h2>
        mini-panel
    </h2>
    <mini-panel></mini-panel>
    <br>
</div>