<h1>
     HELPER for Minimag project
</h1>
<p>
    This file contains all components implemented separately. To create a really complete helper
    you can try to add functions and methods in the helper in order to test functionalities of some components
</p>

<hr>
<h2>mini-title</h2>
<mini-title text="SEARCH" important=false></mini-title>
<hr>
<h2>mini-search-box</h2>
<mini-search-box placeholder="EAN OR NAME" defaultValue="" onChange=""></mini-search-box>
<hr>
<h2>mini-counter</h2>
<mini-counter text="ARTICLES" number=0></mini-counter>
<hr>
<h2>mini-button</h2>
<mini-button text="Encaisser" dynamicValue="174€"></mini-button>
<hr>
<h2>mini-title-identificator</h2>
<mini-title-identificator text="CLIENT" dynamicValue="#123452"></mini-title-identificator>