@import '../../../assets/_variables';
@import '../../../assets/_helper';
@import '../../../assets/_reset';

$background-btn-color: #476681;

.button-cpt {
    width: 150px;
    height: 50px;
    font-family: "brandon_grotesquebold";
    outline:0;
}

.btn-icon {
    padding-top: 2px;
    color: #BADF36;
}

.button-cpt-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: $background-btn-color;
    border: 0;
    font-size: .8em;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    cursor:pointer;
    color: #FEFFFE;
    font-family: "brandon_grotesquebold";
}

.disabled-true {
    background: black;
}

.disabled-false {
    
}