@import '../../../assets/_variables';
@import '../../../assets/_helper';
@import '../../../assets/_reset';


:host {
  height: 100vh;
}
  .navbar {
    flex: 1;
    background: $color-0;
    color: $color-1;
    overflow-y: auto;
    max-width: 100px;
    min-width: 75px;
    height: 100%;
    ul {
      li {
        .fa {
          display: block;
          font-size: 3em;
          margin-bottom: .5em;
        }
        a {
          &.active, &:hover{
            opacity: 1;
          }
          &:after {
            content: "";
            display: block;
            margin: 2em .5em 2em;
            opacity: .5;
            border-bottom: 3px dotted #fff;
          }
          &:before {
            content: "";
            display: block;
            margin: 2em .5em 2em;
            opacity: .5;
          }
          font-size: 0.7em;
          text-decoration: none;
          text-transform: uppercase;
          text-align: center;
          display: block;
          color: #fff;
          opacity: 0.5;
        }
      }
    }
  }