<nav class="navbar">
  <ul>
    <li><a class="active" routerLink="/"><mini-navbar-button iconName="icon-cashier-machine" text="CASHIER"></mini-navbar-button></a></li>
    <!--<li><a routerLink="/waitings"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Waitings</span></a></li>-->
    <li><a routerLink="/archives"><mini-navbar-button iconName="icon-cashier-machine" text="ARCHIVES"></mini-navbar-button></a></li>
    <li><a routerLink="/settings"><mini-navbar-button iconName="icon-cashier-machine" text="SETTINGS"></mini-navbar-button></a></li>
  </ul>
</nav>