<nav class="navbar">
  <ul>
    <li><a class="active" routerLink="/"><i class="fa fa-shopping-basket" aria-hidden="true"></i><span>Cashier</span></a></li>
    <li><a routerLink="/waitings"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Waitings</span></a></li>
    <li><a routerLink="/archives"><i class="fa fa-calendar" aria-hidden="true"></i><span>Archives</span></a></li>
    <li><a routerLink="/settings"><i class="fa fa-sliders" aria-hidden="true"></i><span>Settings</span></a></li>
  </ul>
</nav>