
  <table class="table">
    <tbody>
      <tr>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td> 
          <button type="button" class="btn btn-primary">Remise</button>
        </td>
      </tr>
      <tr>
        <td>6</td>
        <td>5</td>
        <td>4</td>
        <td> 
          <button type="button" class="btn btn-warning">Rabais</button>
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>2</td>
        <td>1</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>0</td>
        <td></td>
        <td> 
          <button type="button" class="btn btn-success">Payer</button>
        </td>
      </tr>
    </tbody>
  </table>
