$color-0: #265688;
$color-1: #A1B0C4;
$color-white: #ffffff;
$color-3: #E4E5E6;
$color-4: #4CAF50;
$color-5: #EEF2F4;
$color-6: #B8C3CF;
$color-7: #F1F5F8;
$color-8: #D6DEE5;
$color-9: #E5EBEF;
$color-10: #D62600;