<div class="container mag-bag">
    <div class="row">
     <table class="table">
            <thead>
                <th>
                    Quantité
                </th>
                <th>
                    Description
                </th>
                <th>
                    Prix
                </th>
                <th>
                    Remise
                </th>
                <th>
                    Total
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.quantity}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td>{{currentDiscount}}</td>
                    <td>{{makeTotalForProduct(product, currentDiscount)}}</td>
                </tr>
            </tbody>
        </table>
        <button type="" (click)="addToBag()" class="btn btn-primary">+</button>
        <button type="" (click)="deleteLastProduct()" class="btn btn-warning">-</button>
    </div>
    <div class="row">
        <app-numeric-pad>
        </app-numeric-pad>
    </div>
</div>

  