<div class="container">
    <table class="table">
        <thead>
            <th>
                Quantité
            </th>
            <th>
                Description
            </th>
            <th>
                Prix
            </th>
            <th>
                Remise
            </th>
            <th>
                Total
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.quantity}}</td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{currentDiscount.amount}}</td>
                <td>{{makeTotalForProduct(product, currentDiscount)}}</td>
            </tr>
        </tbody>
    </table>
    <button type="" (click)="addToBag()" class="btn btn-primary"></button>
    <app-numeric-pad>
    </app-numeric-pad>
</div>

  